.calculator {
  width: 20vw;
  height: 82vh;
  background-color: black;
  border-radius: 20px;
  box-sizing: border-box;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

.display-container {
  height: 30%;
  margin-bottom: 10px;
  text-align: right;
  color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

#main {
  font-size: 48px;
}

#previous{
  font-size: 20px;
}

.button {
  border: none;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  width: 20%;
  padding: 20px;
  margin: 5px;
  background-color: rgb(59, 59, 59);
  color: white;
}

.button-container {
  text-align: center;
  height: 65%;
}

.func{
  background-color: rgb(255, 162, 0);
  font-size: 22px;
}

.top{
  background-color: rgb(144, 144, 144);
  color: black;
}