.calculator {
  width: 30vw;
  height: 60vh;
  background-color: rgb(45, 45, 45);
  border-radius: 10px;
  margin: auto;
  text-align: center;
}

.display-container {
  height: 25%;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  background-color: rgb(48, 48, 48);
}

#display {
  font-size: 32px;
  border: none;
  position: relative;
  top: 20%;
  margin: 20px;
  height: 60%;
  background-color: rgb(223, 223, 223);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  text-align: right;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(87, 87, 87);
  height: 72%;
  border-radius: 10px;
}

.button {
  padding: 15px;
  margin: 10px 5px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  width: 20%;
  background-color: rgb(255, 255, 255);
}

#text{
  position: relative;
  top: 40%;
  right: 8%;
}