*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  width: 5%;
}

#navbarSupportedContent li:hover{
  background-color: rgb(21, 47, 59);
  border-radius: 5px;
}

.card-img-top{
  width: 100%;
  height: 200px ;
  object-fit: contain;
}

.second a{
  color: white;
}
